<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="LOG_DIR">/mnt/8EFED7B1FED79037/UBUNTU-BACKUP/Desktop/ag-mw-logs/
		</Property>
		<Property name="LOG_ARCHIVE_DIR">/mnt/8EFED7B1FED79037/UBUNTU-BACKUP/Desktop/ag-mw-logs/archive/
		</Property>
		<Property name="LOG_FILE">CodeSync</Property>
	</Properties>

	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />

		</Console>

		<RollingFile name="LogToFile"
			fileName="${LOG_DIR}/${LOG_FILE}.log"
			filePattern="${LOG_ARCHIVE_DIR}/${LOG_FILE}-%d{dd-MM-yyyy}_%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %logger{36} - %msg%n
				</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>

			<DefaultRolloverStrategy max="100"
				compressionLevel="9">
				<Delete basePath="${LOG_DIR}" maxDepth="1">
					<IfFileName glob="${LOG_FILE}-*.log.gz" />
					<IfLastModified age="60d" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.cs" level="debug" additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Logger name="org.springframework.boot" level="error"
			additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>

</Configuration>